# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Custom
backup
lib
Propulse
debug\.txt
*.lps
*.bak
*.dll
*.exe
*.rar
*.dbg
*.so
*.s
*.o
*.ppu
*.pdf
*.zip
*.tar\.gz
*.mod
*.sh
*.0
data/palette/Image1\.png
src/include/lazsdl2/bin/
src/include/lazsdl2/tests/
src/include/lazsdl2/java_templates/
src/include/generics\.collections/
src/include/_generics\.collections/
Propulse\.app/
!bin/
!bin/*
!bin/linux-64bit/
!bin/linux-64bit/*
!bin/windows-32bit/
!bin/windows-32bit/*

*.log

data/commands\.txt

src/include/bass/delphi/3dTest/

src/include/bass/delphi/

src/include/bass/bass\.chm

src/include/bass/bass\.txt

src/screen/fx\.plasma\.pas

propulse-win32/

src/include/lazsdl2/bin/x86_64-win64/

*.log~

src/include/lazsdl2/bin/i386-win32/

src/include/lazsdl2/bin/i386-linux/

src/include/lazsdl2/bin/x86_64-linux/
